@using CediadDataBase
@inject RegistrosService service
@inject NavigationManager NavigationManager

<EditForm Model="@Registro" OnValidSubmit="HandleValidSubmit">
    <div class="d-flex flex-row flex-wrap">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group col-md-2">
            <InputNumber @bind-Value="Registro.Monto" class="form-control" />
        </div>

        <div class="form-group col-md-2">
            <InputText @bind-Value="Registro.Descripcion" class="form-control" />
        </div>

        <div class="form-group col-md-2">
            <InputText @bind-Value="Registro.Titulo" class="form-control" />
        </div>

        <div class="form-group col-md-2">
            <select @bind="Registro.Categoria" class="form-control">
                @foreach (Categoria categoria in Enum.GetValues(typeof(Categoria)))
                {
                    <option value="@categoria">@categoria</option>
                }
            </select>
        </div>

        <div class="form-group col-md-2">
            <select @bind="Registro.MetodoDePago" class="form-control">
                @foreach (MetodoDePago metodo in Enum.GetValues(typeof(MetodoDePago)))
                {
                    <option value="@metodo">@metodo</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Guardar Registro</button>
    </div>
</EditForm>


