@page "/"
@using CediadDataBase
@inject RegistrosService service
@inject NavigationManager NavigationManager

<h3>Alta de Registro</h3>

<EditForm Model="@Registro" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="FechaDePago">Fecha de Pago:</label>
        <InputDate @bind-Value="Registro.FechaDePago" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Monto">Monto:</label>
        <InputNumber @bind-Value="Registro.Monto" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Descripcion">Descripción:</label>
        <InputText @bind-Value="Registro.Descripcion" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Titulo">Título:</label>
        <InputText @bind-Value="Registro.Titulo" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Categoria">Categoría:</label>
        <select @bind="Registro.Categoria" class="form-control">
            @foreach (Categoria categoria in Enum.GetValues(typeof(Categoria)))
            {
                <option value="@categoria">@categoria</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="MetodoDePago">Método de Pago:</label>
        <select @bind="Registro.MetodoDePago" class="form-control">
            @foreach (MetodoDePago metodo in Enum.GetValues(typeof(MetodoDePago)))
            {
                <option value="@metodo">@metodo</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Guardar Registro</button>
</EditForm>

@code {
    private Registro Registro { get; set; } = new Registro();

    private async Task HandleValidSubmit()
    {
        // Lógica para guardar el registro en la base de datos usando el servicio
        bool success = await service.AddRegistro(Registro);
        if (success)
        {
            NavigationManager.NavigateTo("/lista-registro");
        }
        else
        {
            // Maneja el caso de error, muestra un mensaje de error, etc.
        }
    }
}
